<FRAMESET ROWS="25%,50%,25%">
  <frame SRC="Indice.html">
  <FRAMESET COLS="75%,25%">
    <FRAME SRC="PaginaWeb9.html">
    <FRAME SRC="Encabezado.html">
  </FRAMESET>
  <frame SRC="PaginaWeb2.html">
</FRAMESET>

